<div class="bg-white p-4 rounded-xl rounded-tl-[30px] shadow-md">
  
  <h2 class="text-lg font-bold text-gray-800 mb-3 px-1">{{ sectionTitle }}</h2>
  
  <div class="grid grid-cols-2 gap-3">

    @for (item of items; track item.title) {
      <div class="bg-[#2A65C9] text-white p-3 rounded-xl h-[72px] flex flex-col justify-between">
        <h3 class="font-semibold text-sm">{{ item.title }}</h3>
        <div class="flex justify-between items-end">
          <img [src]="item.iconUrl" [alt]="item.title" class="w-6 h-6">
          <div class="text-right leading-none">
            <span class="text-2xl font-bold">{{ item.count }}</span>
            <span class="text-[10px] ml-1">{{ item.label }}</span>
          </div>
        </div>
      </div>
    }

  </div>
</div>