<footer class="fixed bottom-0 left-0 right-0 px-6 pb-4 pt-2 z-20">
  <nav
    class="rounded-2xl shadow-lg flex justify-around h-20 items-center text-white bg-cover bg-center"
    style="background-image: linear-gradient(rgba(7, 40, 78, 0.7), rgba(7, 40, 78, 0.7)), url('/plano-de-fundo.png');">

    <a href="#" class="flex flex-col items-center space-y-1">
      <img [src]="painelIconUrl" alt="Painel" class="h-7 w-7">
      <span class="text-xs font-bold">Painel</span>
    </a>

    <a href="#" class="flex flex-col items-center text-white/60 space-y-1">
      <img [src]="cadastrosIconUrl" alt="Cadastros" class="h-8 w-8">
      <span class="text-xs">Cadastros</span>
    </a>

    <a href="#" class="flex flex-col items-center text-white/60 space-y-1">
      <img [src]="perfilIconUrl" alt="Perfil" class="h-9 w-9">
      <span class="text-xs">Perfil</span>
    </a>
  </nav>
</footer>