<!--
  Container principal do layout.
  - 'relative': Essencial para que os elementos 'absolute' dentro dele se posicionem corretamente.
  - 'min-h-screen': Garante que o layout ocupe no mínimo a altura da tela, mas permite que ele cresça se o conteúdo for maior.
-->

<div class=" py-12 relative min-h-screen w-full">

  <!-- CAMADAS DE FUNDO -->
  <!-- Imagem de fundo -->
  <div class="absolute inset-0 w-full h-full -z-20">
    <img
      src="/plano-de-fundo.png"
      alt="Plano de fundo"
      class="w-full h-full object-cover"
    />

  </div>

  <ng-content></ng-content>

  <!-- Logo -->


  <!--
    PONTO PRINCIPAL: O ng-content
    Todo o conteúdo que você colocar entre as tags <app-layout-base>...</app-layout-base>
    será projetado (inserido) aqui. É isso que faz o layout crescer junto.
  -->


</div>


